<a href="https://colab.research.google.com/github/SEONGJUN-HAN/edu/blob/main/%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
url = 'https://github.com/SEONGJUN-HAN/edu/blob/main/2024.10.16..xlsx?raw=true'
# data = [[10, float('nan'), 50], [20, 20, 80], [30, 40 ,80], [40, 60, 20]]
df = pd.read_excel(url)
df

,사업관리카드(현액),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,세부사업,세부항목,원가통계비목,산출내역,예산액,증감액,예산현액(A),지출품의액,원인행위액(B),집행률(B/A),예산잔액,지출결의액,지급액(C),집행률(C/A),지출잔액(A-C),불용률,추경,정산재원,일반재원,세부항목담당자
2,교직원역량강화,직무연수,일반수용비,자체_직무연수비,1950000,0,1950000,208000,208000,10.67,1742000,208000,208000,10.67,1742000,NaN,NaN,0,1950000,"김수지,위영아,유성경,조윤제,한성준"
3,교직원역량강화,직무연수,[ 세 부 항 목 소 계 ],NaN,1950000,0,1950000,208000,208000,10.67,1742000,208000,208000,10.67,1742000,NaN,NaN,0,1950000,"김수지,위영아,유성경,조윤제,한성준"
4,교직원역량강화,교직원 워크샵,일반수용비,자체_대관비,700000,0,700000,0,0,0,700000,0,0,0,700000,NaN,NaN,0,2700000,"유성경,조윤제"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,행정지원인력운용,행정(사무)실무사인건비,[ 세 부 항 목 소 계 ],NaN,480000,0,480000,0,0,0,480000,0,0,0,480000,NaN,NaN,0,480000,김수지
558,행정지원인력운용,[ 세 부 사 업 소 계 ],NaN,NaN,480000,0,480000,0,0,0,480000,0,0,0,480000,100,NaN,0,480000,NaN
559,[ 단 위 사 업 합 계 ],NaN,NaN,NaN,61798000,0,61798000,32319950,46980720,76.02,14817280,39840540,39840540,64.47,21957460,35.53,NaN,3950000,57848000,NaN
560,[ 정 책 사 업 합 계 ],NaN,NaN,NaN,309281000,0,309281000,110161200,217397860,70.29,91883140,182917970,182917970,59.14,126363030,40.86,NaN,3950000,305331000,NaN
561,[ 총 계 ],NaN,NaN,NaN,2340116000,0,2340116000,1640273730,1713550920,73.23,626565080,1494339690,1494339690,63.86,845776310,36.14,NaN,1715125000,624991000,NaN

In [ ]:
# df['tip'].astype('float')
df['tip'] = pd.to_numeric(df['tip'],errors='coerce')
df

     total_bill   tip  gender smoker   day    time  size
0         16.99   NaN  Female     No   Sun   Lunch     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male    NaN   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    NaN   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female    NaN  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
df['time'] = df['time'].replace({'Lunch':0, 'Dinner':1})

<ipython-input-121-8fb4c7af894c>:1: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

In [ ]:
df['smoker'].fillna()

ValueError: Must specify a fill 'value' or 'method'.